*{
    margin: 0;
    padding: 0'
}
html{
    background: rgba(0,0,0,0.9);
    color: whitesmoke;
    font-family: 'Open Sans',sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}
div{
    font: inherit;
}
@media(min-width:1000px){
.left,.right{
    display: inline-block;
    height: 25rem;
    margin-top: 4rem;
    vertical-align: top;
}
.left{
    width: 25vw;
    margin-left: 10rem;
}
.right{
    width: 45vw;
    margin-right: 5rem;
}
img{
    width: 100%;
}
.right h1{
    margin-bottom: 1.5rem;
}
.right div{
    color: #8F8D8D;
}
.right ul,.right p{
    margin: 1rem 0;
}
a{
    display: block;
    margin: 3rem 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #949292;
}
#title{
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    margin: 1rem 0;
}
#title:hover{
    color: #949292;
}

canvas{
    display: none;
    margin-left: auto;
    margin-right: auto;
}
}
@media(max-width:400px){
    .left, .right{
        display: block;
        /*margin: 1rem 0;*/
        width: 100%;
        font: inherit;
    }
    img{
        width: 100%;
    }
    .right{
        margin: 1rem 1rem;
    }
    .right h1{
        margin: 1rem 0;
    }
    .right p{
        margin: 0.5rem 0;
    }
    .right div{
        color: #949292;
    }
    .right ul{
        margin: 0.5rem 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover, #title:hover{
        color: #949292;
    }
    #title{
        cursor: pointer;
    }
    canvas{
        width: 320px;
        height: 320px;
    }
}